
#form{
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.date-time{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

input{
  padding: .5rem .5rem;
  border: 1px solid black;
  border-radius: 10px;
}

textarea{
  padding: .5rem .5rem;
  border-radius: 10px;
}
