
#form{
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(https://images.unsplash.com/photo-1481709761765-0876c08d7d26?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
}


.form-content{
  display: block;
  margin: 5rem auto;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.form-content h1{
  font-size: 2.5rem;
  font-family: $fresca;
}

.event-form{
  font-family: $roboto;
}

.date-time{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input{
  padding: .5rem .5rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem auto;
}

input:focus{
  outline: 3px solid $light-yellow;
}

textarea{
  padding: .5rem .5rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem auto;
}

textarea:focus{
  outline: 3px solid $light-yellow;
}


select{
  padding: .5rem .5rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem auto;
}

select:focus{
  outline: 3px solid $light-yellow;
}

.event-btn{
  padding: 1rem;
  border: 1px solid $light-yellow;
  background-color: $light-yellow;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  font-family: $roboto;
}

.event-btn:hover{
  background-color: $light-beige;
  border: 1px solid $light-beige;
}
