
/* DEFINE ELEMENTS */
$light-blue: #B8CAFF;
$light-red: #E76563;
$light-purple: #C4A2D7;
$light-yellow: #F7E3A9;
$light-beige: #E6E5D4;
$fresca: 'Fresca', sans-serif;
$PT: 'PT Serif', serif;
$roboto: 'Roboto Mono', monospace;

@import 'banner';
@import 'details';
@import 'form';
@import 'countdown';

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: auto;
}
